* {
    box-sizing: border-box;
  }

  .content {
    font-size: 26px;
    font-family: "Ubuntu", sans-serif;
    color: #07051a;
    padding: 8px 12px;
    position: absolute;
    top: 149px;
    width: 100%;
    text-align: center;
    /* background-color: cadetblue; */
  }

  .container {
    position: relative;
    max-width: 100%; /* Maximum width */
    max-height: 100%;
    margin: 0 auto;
  }

  .image {
    width: 100%;
    height: 1018px;
    opacity: 0.4;
    
  }

  .image2 {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .image3 {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* position: absolute;  */
  }
  .navbar {
    overflow: hidden;
    /* background-color: #333; */
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    background-image: url("nature image.jpg");
    box-sizing: border-box;
    border-radius: 5px;
    /* position: sticky;
    top: 0; */
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    margin: 10px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 23px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 12px; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    color: rgb(1, 0, 12);
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:rgb(212, 209, 204);
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .land-container{
      display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 213, 221);
    background-image: linear-gradient(to right,#3597de,lightgreen);
    
  }
  .land-content{
    font-size: 26px;
    font-family: "Ubuntu", sans-serif;
    color: #07051a;
    padding: 8px 12px;
    /* position: absolute; */
    background-color: rgb(208, 213, 221);
    background-image: linear-gradient(to right,#3597de,lightgreen);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
  }
  .land-boy{
    border-radius: 50%;
    height: 250px;
    width: 30%;
    box-shadow:0px 0px 2px 5px rgb(160, 163, 160);
}
  .landimage1{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 200px;
    width: 215px;
    border-radius: 50%;
    box-shadow:0px 0px 2px 5px rgb(160, 163, 160);
  }
  .landimage2{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 200px;
    width: 215px;
    border-radius: 50%;
    box-shadow:0px 0px 2px 5px rgb(160, 163, 160);
  }
  .tapwatercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(191, 240, 227);
   background-image: linear-gradient(to right,#e56ee5,lightblue);
                    }
.tapwatercontent{
  font-size: 26px;
  font-family: "Ubuntu", sans-serif;
  color: #07051a;
  padding: 8px 12px;
  /* position: absolute; */
 background-color: rgb(191, 240, 227);
 background-image: linear-gradient(to right,#e56ee5,lightblue);
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  
}
.tapimage1{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 262px;
    width: 303px;
    border-radius: 8px;
    box-shadow:0px 0px 2px 5px rgb(129, 233, 129);
  }
  .tapimage2{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 200px;
    width: 215px;
    border-radius: 50%;
    box-shadow:0px 0px 2px 5px rgb(121, 233, 121);
}
.tapimage{
    box-shadow:0px 0px 2px 5px rgb(129, 233, 129);
    border-radius: 50%;
    height: 250px;
    width: 30%;
    
}