.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #d3f37b;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(243, 245, 237, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .item1 {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  
  .item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    
  }
  
  .item5 {
    grid-column: 2 / 3;
    grid-row: 2;
     grid-column:3
  }