.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgba(190, 132, 168, 0.8);
    padding: 10px;
  }
  
  .grid-item {
   
    background-color: #ebcfd4;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .item1 {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  
  .item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
   
  }
  
  .item5 {
    grid-column: 2 / 3;
    grid-row: 2;
     grid-column:3
  }