table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
}

th{
    background-color: coral;
}

td{
    background-color: rgb(178, 241, 31);
}