.container{
    background-color: rgb(245, 231, 212);
    width: 100%;
    height: 100%;
}
.heading{
    text-align: center;
}
.navigation{
    background-color: rgb(111, 184, 187);
    padding: 5px 5px;
    text-align: center;
}